<h2><%= Comment.model_name.human %></h2>
<% if commentable.comments.blank? %>
  <p><%= t('comments.show.no_comment') %></p>
<% else %>
  <% commentable.comments.includes(:user).each do |comment| %>
    <% if comment.user.name.blank? %>
      <p><%= comment.user.email %></p>
    <% else %>
      <p><%= comment.user.name %></p>
    <% end %>
    <p><%= comment.content %></p>
    <p><%= comment.created_at.to_s(:datetime_jp) %></p>

    <% if comment.user_id == current_user.id %>
      <p><%= link_to t('views.common.edit'), [:edit, commentable, comment] %></p>
      <p><%= link_to t('views.common.destroy'), [commentable, comment], method: :delete, data: { confirm: t('views.common.delete_confirm') } %></p>
    <% end %>
    <br />
  <% end %>
<% end %>

<%= form_with(model: [commentable, Comment.new]) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>