<h1><%= t 'follow.common.following' %></h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:postal_code) %></th>
      <th><%= User.human_attribute_name(:address) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @followings.each do |following| %>
      <tr>
        <th>
          <% if following.avatar.attached? %>
            <%= image_tag following.avatar.variant(resize_to_fill: [30, 30])%>
          <% end %>
        </th>
        <td><%= following.email %></td>
        <td><%= following.name %></td>
        <td><%= following.postal_code %></td>
        <td><%= following.address %></td>
        <td><%= link_to t('views.common.show'), user_path(following.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

